body{
    background: linear-gradient(45deg, lime, aqua, aquamarine) no-repeat fixed;
    font-family: Courier;
    font-weight: bold;
}
input{
    border-radius: 25px;
}
#sec{
    background: white;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: rgb(0,0,0,0.363);
    text-align: center;
    margin: auto;
    padding: 30px;
}
div{
    word-wrap: break-word;
}
#inicio{
    margin: 20px;
}
#fim{
    margin: 20px;
}
#passo{
    margin: 20px;
}
#res{
    margin: 20px;
}
